In [12]:
import os
import numpy as np
# import working directory to check functions
os.chdir('/Users/Dominik/R-workspace/cecelia/inst')

# config
import py.config_utils as cfg

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [22]:
base_dir = '/Volumes/Analysis_SSD/Dominik/cecelia/projects/8BR53W/ANALYSIS/'
zero_dir = os.path.join(base_dir, '0/9XHXrn/')
im_path = os.path.join(zero_dir, 'ccidImage.ome.zarr')
version_num = 1
task_dir = os.path.join(base_dir, str(version_num), '9XHXrn')

In [23]:
from py.label_props_utils import LabelPropsUtils

In [24]:
label_props_utils = LabelPropsUtils(task_dir, value_name = 'tcells.gDT')

In [25]:
label_props_utils.label_props_view()\
    .values_obs()

,label,track_id,cell_id,live.cell.speed,live.cell.angle,live.cell.min_distance#live.tcells.gBT,live.cell.contact#live.tcells.gBT,live.cell.contained_by#live.tcells.gBT,live.cell.contains_n#live.tcells.gBT,live.cell.contact_n#live.tcells.gBT,live.cell.contact_id#live.tcells.gBT
0,1,22.0,1.0,NaN,NaN,20.167942,False,False,0,0,1
1,2,2.0,1.0,NaN,NaN,40.061697,False,False,0,0,52
2,3,NaN,NaN,NaN,NaN,39.711586,False,False,0,0,59
3,4,NaN,NaN,NaN,NaN,17.578914,False,False,0,0,1
4,5,NaN,NaN,NaN,NaN,22.623286,False,False,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
2205,2206,NaN,NaN,NaN,NaN,16.210621,False,False,0,0,2981
2206,2207,NaN,NaN,NaN,NaN,83.046015,False,False,0,0,2989
2207,2208,NaN,NaN,NaN,NaN,0.000000,True,False,0,1,2949
2208,2209,NaN,NaN,NaN,NaN,12.150215,False,False,0,0,2949
2209,2210,NaN,NaN,NaN,NaN,27.036784,False,False,0,0,2983

In [26]:
label_props_utils.label_props_view()\
    .del_obs([
    'live.cell.min_distance#live.tcells.gBT',
    'live.cell.contact#live.tcells.gBT',
    'live.cell.contained_by#live.tcells.gBT',
    'live.cell.contains_n#live.tcells.gBT',
    'live.cell.contact_n#live.tcells.gBT',
    'live.cell.contact_id#live.tcells.gBT'
]).save()

In [27]:
label_props_utils.close()