In [2]:
import os
import numpy as np
# import working directory to check functions
os.chdir('/Users/Dominik/R-workspace/cecelia/inst')

# MacOS
os.environ['KMP_DUPLICATE_LIB_OK'] = 'TRUE'

# config
import py.config_utils as cfg

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [3]:
base_dir = '/Volumes/USER_data/Dominik/CECELIA_BACKUP/7cDkr2/ANALYSIS/'
zero_dir = os.path.join(base_dir, '0/MZen4N/')
im_path = os.path.join(zero_dir, 'ccidCropped.zarr')
version_num = 1
task_dir = os.path.join(base_dir, str(version_num), 'MZen4N')

In [4]:
from py.napari_utils import NapariUtils

napari_utils = NapariUtils()
napari_utils.viewer = None
napari_utils.open_viewer()
napari_utils.task_dir = task_dir

In [5]:
napari_utils.open_image(
    im_path,
    use_channel_axis = True, as_dask = True,
    visible = True
)

<zarr.hierarchy.Group '/' read-only>
[6, 4, 1, 447, 422]
[422, 447, 1, 4, 6]
['X', 'Y', 'Z', 'C', 'T']
[6, 4, 1, 447, 422]
> Image scale [1, 1, 1.0, 1.0]

In [24]:
napari_utils.show_labels_all(
    show_labels = True,
    show_points = False,
    show_label_ids = False,
    value_names = ['cells'],
    as_np_array = True
)

{'base': '/Volumes/USER_data/Dominik/CECELIA_BACKUP/7cDkr2/ANALYSIS/1/MZen4N/labels/cells.zarr'}
<zarr.hierarchy.Group '/' read-only>
>> Load as np array
(1, 447, 422)

In [25]:
from py.label_props_utils import LabelPropsUtils

value_name = 'cells'
adata = LabelPropsUtils(task_dir, value_name = value_name).label_props_view(read_only = True)\
    .as_adata()\
    .to_memory()

In [29]:
adata.obs

,label,track_id,track_parent,track_root,track_state,track_generation,cell_id
0,7,1,1,1,1,0,1.0
1,8,2,2,2,1,0,1.0
2,10,3,3,3,1,0,1.0
3,14,4,4,4,1,0,1.0
4,15,5,5,5,1,0,1.0
...,...,...,...,...,...,...,...
58,227,4,4,4,1,0,5.0
59,231,6,6,6,1,0,6.0
60,232,8,8,8,1,0,6.0
61,235,13,13,13,1,0,3.0
62,238,9,9,9,1,0,6.0

In [23]:
# show populations
napari_utils.show_pop_mapping(
    'flow', value_name = 'default')

In [ ]:
napari_utils.viewer.window.screenshot

In [ ]:
napari_utils.show_labels_all(
    show_labels = True,
    show_points = False,
    value_names = ['default'],
    label_suffixes = {'default': ['cyto', 'nuc']}
)

In [ ]:
from napari_animation import AnimationWidget
animation_widget = AnimationWidget(napari_utils.viewer)
napari_utils.viewer.window.add_dock_widget(animation_widget, area='right')

In [ ]:
# show populations
napari_utils.show_pop_mapping(
    'flow', value_name = 'default')