In [18]:
import os
import numpy as np
# import working directory to check functions
os.chdir('/Users/Dominik/R-workspace/cecelia/inst')

# config
import py.config_utils as cfg

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [19]:
base_dir = '/Volumes/Analysis_SSD/Dominik/cecelia/projects/8BR53W/ANALYSIS/'
zero_dir = os.path.join(base_dir, '0/AiqZey/')
im_path = os.path.join(zero_dir, 'ccidImage.ome.zarr')
version_num = 1
task_dir = os.path.join(base_dir, str(version_num), 'AiqZey')

In [20]:
from py.label_props_utils import LabelPropsUtils

In [21]:
label_props_utils = LabelPropsUtils(task_dir, value_name = 'tcells.gDT')

In [22]:
label_props_utils.label_props_view()\
    .values_obs()

,label,track_id,cell_id,live.cell.speed,live.cell.angle,live.cell.contact#live.tcells.gBT,live.cell.contained_by#live.tcells.gBT,live.cell.contains_n#live.tcells.gBT,live.cell.contact_n#live.tcells.gBT,live.cell.contact_id#live.tcells.gBT
0,1,1.0,1.0,NaN,NaN,False,False,0,0,28
1,2,2.0,1.0,NaN,NaN,True,True,0,1,12
2,3,14.0,1.0,NaN,NaN,True,False,0,1,13
3,4,13.0,1.0,NaN,NaN,False,False,0,0,19
4,5,12.0,1.0,NaN,NaN,False,False,0,0,26
...,...,...,...,...,...,...,...,...,...,...
1610,1611,17.0,51.0,1.695349,1.172276,True,False,0,2,4168
1611,1612,169.0,6.0,11.183291,0.305869,False,False,0,0,4174
1612,1613,41.0,69.0,4.220367,0.371206,False,False,0,0,4168
1613,1614,26.0,71.0,1.468932,1.146835,False,False,0,0,4142
1614,1615,132.0,22.0,3.695228,2.512216,False,False,0,0,4173

In [23]:
label_props_utils.close()

In [17]:
label_props_utils.label_props_view()\
    .del_obs([
    'live.cell.min_distance#live.tcells.gBT',
    'live.cell.contact#live.tcells.gBT',
    'live.cell.contained_by#live.tcells.gBT',
    'live.cell.contains_n#live.tcells.gBT',
    'live.cell.contact_n#live.tcells.gBT',
    'live.cell.contact_id#live.tcells.gBT'
]).save()